*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}


.content {
  display:flex;
  justify-content: center; /* Центрируем по горизонтали */
  align-items: center;
  flex-direction: row;  /* Располагаем элементы в строку */
  align-items: flex-end;
  width: 1140px;
  height: 534px;
  box-sizing: border-box;
}

.search-form {
  display: flex;
  width: 711px;
  height: 54px;
  display: flex ;
  flex-direction: row;
  flex: 1;
  gap: 20px;
  justify-content: space-between;
  align-items: flex-end
}

.content__list-container {
  max-height: 400px;
  height: 566px;
  overflow-y: scroll; /* Полоса всегда отображается */
}

.content__details {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-left: 30px;
  width: 399px;
  height: 534px;
}

.result__video-container{
  display:flex;
  position: relative;
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.content__list { /*Отступы между карточками */
  display: flex;
  flex-direction: column;
  gap: 30px; 
}

.content__list-container { /*между кнопкой Показать ещё и последней карточкой .content__list-item */
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__video-card {
  display:flex;
  align-items: flex-start;
  width: 390px;
  height: 103px;
}

.content__video-card-thumbnail {
  object-fit: fill;
  object-position: center;
  width: 194px;
  height: 103px;
}

.content__video-card-description-container {
  display:flex;
  flex-direction: column;
  flex-grow: 1;
}

.search-form__fieldset-title {
  Color: #FFFFFF;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  text-align: left;
}

.title {
  width: 259px;
  height: 210px;
  font-family: Oswald;
  font-weight: 700;
  font-style: Bold;
  font-size: 75px;
  line-height: 94%;
  letter-spacing: 0%;
  text-transform: uppercase;
  margin-bottom:25px;
}

.content__accent {
  color:#545050;
}

.content__card-link {
  text-decoration: none;
  color: #FFFFFF;
}

.content__video-card-title {
  font-family: Oswald;
  font-weight: 700;
  font-style: Bold;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  text-align: left;
  text-transform: uppercase;
  width: 196px;
  height: 30px;
  white-space: nowrap;        /* Запрещаем перенос текста */
  overflow: hidden;          /* Скрываем излишний текст */
  text-overflow: ellipsis;   /* Добавляем многоточие */
} 

.content__video-card-description {
  display: -webkit-box;
  overflow: hidden;
  line-height: 35px;

}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__label {
  display:flex;
  flex-direction: row;
  gap:5px;
  align-items: center;
  width: fit-content;
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  gap:15px;
  padding-bottom:5px;
}

.search-form__textfield {
  display:flex;
  background-color: inherit;
  color:#fff;
  font-family: Fira Sans Condensed;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
  width: 225px;
  height: 27px;
  border-bottom: 2px solid rgba(255, 255, 255, 1);
  border-top: 1px solid rgba(255, 255, 255, 1);
  border-left:none;
  border-right:none;
  appearance: none;
  outline:none;
  cursor: pointer
}

.search-form__fieldset {
  display:flex;
  flex-direction: column;
  border:none;
  gap:5px;
}

.search-form__label:has(:focus-visible) {
  outline:1px solid #FFFFFF;
  outline-offset: 1px;
}

.search-form__textfield::placeholder {
  color:rgb(255 255 255 / 0.7);
}

.search-form__pseudo-checkbox {
  display:flex;
  width: 19px;
  height: 19px;
  border: 1px solid rgba(255, 255, 255, 1);
  padding: 1px;
  cursor: pointer;
  
}

.search-form__pseudo-checkbox::after {
  display:block;
  content: "";
  background-color: #fff;
  width:100%;
  height: 100%;
  opacity: 0;
}

.search-form__checkbox:checked {
  opacity: 1;
}

.search-form__pseudo-checkbox:hover {
  text-decoration: underline;
}

.search-form__checkbox-list:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: inherit;
  border: 1px solid #FFFFFF;
  color:#FFFFFF;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

.search-form__submit-button { 
  width: 194px;
  height: 34px;
  margin-top: 20px;
  align-self: flex-end;
}

.more-button {
  display: flex;
  flex-direction: row;
  width: 390px;
  min-height: 34px;
  justify-content: center;
  align-items: center;
  background-color:inherit;
  color: #FFFFFF;
  border: 1px solid rgba(255, 255, 255, 1);
}

.button:hover { 
  cursor: pointer;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  padding-bottom: 2px; /*Взаимодействие пользователя с кнопкой */
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline:none;
}

.button:focus-visible {
  outline: 1px solid #FFFFFF;
  outline-offset: 1px;
}

.search-form__pseudo-checkbox:hover + .search-form__label .search-form__label-text,
.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  cursor: pointer
}

.content__card-link {
  display:block;
}

.content__card-link:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

.content__card-link:focus {
  outline:none;
}

.content__list-item{
  padding-left:3px;
  padding-right:3px;
}

.content__card-link:focus-visible {
  outline : 1px solid #FFFFFF;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link_current:active {
  background-color:#545050;
  transform: translateY(2px); /* Эффект нажатия кнопки */
}