*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    block-size: 100%;
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    inline-size: 1200px;
    block-size: 100%;
    margin: auto;
    color: #fff;
    font-family: "Fira Sans Condensed", Arial, sans-serif;
    font-size: 18px;
    background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
    width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #d9d9d9;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    align-items: flex-end;
    width: 1140px;
    box-sizing: border-box;
}

.search-form {
    display: flex;
    width: 711px;
    display: flex;
    flex-direction: row;
    flex: 1;
    gap: 20px;
    justify-content: space-between;
    align-items: flex-end;
}

.content__list-container {
    max-height: 400px;
    height: 298px;
    width:399px;
    overflow-y: scroll;
    
}

.content__details {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-left: 30px;
    width: 399px;
}

.result__video-container {
    display: flex;
    position: relative;
    width: 711px;
    height: 386px;
    margin-bottom: 16px;
}

.result__video {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

.content__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.content__list-container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 399;
    height: 298;
}

.content__video-card {
    display: flex;
    align-items: flex-start;
    width: 390px;
}

.content__video-card-thumbnail {
    object-fit: fill;
    object-position: center;
    width: 194px;
    height: 103px;
}

.content__video-card-description-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.search-form__fieldset-title {
    color: #ffffff;
    font-family: "Fira Sans Condensed", Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 100%;
    text-align: left;
}

.title {
    width: 259px;
    min-height: 210px;
    font-family: Oswald, Arial, sans-serif;
    font-weight: 700;
    font-size: 75px;
    line-height: 94%;
    letter-spacing: 0%;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.content__accent {
    color: #545050;
}

.content__card-link {
    text-decoration: none;
    color: #ffffff;
}

.content__video-card-title {
    font-family: Oswald, Arial, sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 100%;
    text-transform: uppercase;
    text-align: left;
    text-transform: uppercase;
    width: 196px;
    min-height: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.content__video-card-description {
    display: -webkit-box;
    overflow: hidden;
    line-height: 35px;
}

.visually-hidden {
    position: absolute;
    inline-size: 1px;
    block-size: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    white-space: nowrap;
}

.search-form__label {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    width: fit-content;
}

.search-form__checkbox-list {
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding-bottom: 5px;
}

.search-form__textfield {
    display: flex;
    background-color: inherit;
    color: #fff;
    font-family: "Fira Sans Condensed", Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: left;
    min-width: 225px;
    min-height: 27px;
    border-bottom: 2px solid rgba(255, 255, 255, 1);
    border-top: 1px solid rgba(255, 255, 255, 1);
    border-left: none;
    border-right: none;
    appearance: none;
    outline: none;
    cursor: pointer;
}

.search-form__fieldset {
    display: flex;
    flex-direction: column;
    border: none;
    gap: 5px;
}

.search-form__label:has(:focus-visible) {
    outline: 1px solid #ffffff;
    outline-offset: 1px;
}

.search-form__textfield::placeholder {
    color: rgb(255 255 255 / 0.7);
}

.search-form__pseudo-checkbox {
    display: flex;
    width: 19px;
    height: 19px;
    border: 1px solid #fff;
    padding: 1px;
    cursor: pointer;
}

.search-form__pseudo-checkbox::after {
    display: block;
    content: "";
    background-color: #fff;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.search-form__checkbox:checked::after {
    display: block;
    opacity: 1;
    content: "";
    background-color: #fff;
}

.search-form__pseudo-checkbox:hover {
    text-decoration: underline;
}

.search-form__checkbox-list:focus-visible {
    outline: 1px solid #fff;
    outline-offset: 1px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: inherit;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-family: "Fira Sans Condensed", Arial, sans-serif;
    font-size: 18px;
    min-height: 34px;
    font-weight: 700;
    text-align: center;
}

.search-form__submit-button {
    min-width: 194px;
    margin-top: 20px;
    align-self: flex-end;
}

.more-button {
    display: flex;
    flex-direction: row;
    width: 390px;
    justify-content: center;
    align-items: center;
    background-color: inherit;
    color: #ffffff;
    border: 1px solid rgba(255, 255, 255, 1);
}

.button:hover {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-thickness: 1px;
}

.button:active {
    background-color: #545050;
}

.button:focus {
    outline: none;
}

.button:focus-visible {
    outline: 1px solid #ffffff;
    outline-offset: 1px;
}

.search-form__pseudo-checkbox:hover + .search-form__label .search-form__label-text,
.search-form__label:hover .search-form__label-text {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    cursor: pointer;
}

.content__card-link {
    display: block;
}

.content__card-link:hover {
    text-decoration: underline;
    text-decoration-thickness: 1px;
}

.content__card-link:focus {
    outline: none;
}

.content__list-item {
    padding-left: 3px;
    padding-right: 3px;
}

.content__card-link:focus-visible {
    outline: 1px solid #ffffff;
}

.content__card-link_current {
    background-color: #545050;
}
